<ng-container>
  <app-article-list [articles]="(externalArticles$ | async) ?? []"></app-article-list>
</ng-container>
<ng-container>
  <app-article-abstract [abstract]="((articleAbstract$ | async) ?? '')"></app-article-abstract>
</ng-container>
